
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em 'Staatliches', cursive;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background: url("../images/bubble.svg");
  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(66, 66, 66);
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.readMore{
  color: gray;
margin-bottom: 1em;
padding-bottom: 1em;
 cursor: pointer;
}

button{
  
  text-align: center;
  font: 112.5%/1.45em 'Staatliches', cursive;
  background-color: #82828200; /* Green */
  border: solid 3px  rgb(108, 108, 108);
  color: rgb(40, 40, 40);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button:hover{
  background-color: rgb(208, 208, 208);;
  cursor: pointer;
}


li{
  list-style: none;
}

form{
  text-align: center;
  border: solid 3px rgb(146, 146, 146);
  display: flex;
  flex-direction: column;
  
  border-radius: 2px;
padding: 1em;



}

.submitBtn{
  margin-bottom: 1em;
}

form button{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
   color: rgb(40, 40, 40);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.specBtn {
  margin-left: auto;
  margin-right: auto;

   color: rgb(40, 40, 40);

  text-align: center;
  text-decoration: none;
display: inline-block;
  font-size: 20px;

}
textarea{
  border: solid 3px rgb(208, 208, 208);
  text-align: left;
  height: 10rem;
  font-size: 1rem;
  resize: none;
  margin-bottom: 1em;
  padding: 30px 40px;
  font-family: 'Staatliches', cursive;
  color: gray;
}

textarea:focus{
  border: 3px solid rgb(52, 52, 52);;
  outline: none;
}

.addPostBtn{


  margin-bottom: 1em;
  text-align: center;
 margin-left: 15em;
 margin-right: 15em;

}
input[type=text] {
  color: gray;
  font-family: 'Staatliches', cursive;
  font-size:  1rem;
      margin-bottom: 1em;
      overflow: hidden;
      text-align: left;
      height: 2rem;
  padding: 30px 40px;
 
  border: solid 3px rgb(208, 208, 208);
  box-sizing: border-box;
}

input[type=text]:focus{
  border: 3px solid rgb(52, 52, 52);;
  outline: none;
}

.Post{

  text-align: center;
}

.Post ul {
  display: inline-block;
  margin: 0;
  padding: 0;
 
}
.Post h1 {
  margin: 1em;

 
}
.article{
  display: inline-block;
}

.article span span span{

padding-bottom: 1em;
}

.container {
  
  padding-bottom: 1em;
  border: 3px solid #656565;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 25rem;
  margin: 1em;
}

.row {
  padding: 10px;
 
  border-bottom: 3px solid #656565;
  
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 15%;
}

.right {
  width: 10%;
}

.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  margin-top: 4px;
  margin-right: 4px;
  height: 15px;
  width: 15px;
  border: 3px solid #656565;
  border-radius: 50%;
  display: inline-block;
}

.dot1{
  background:#ED594A;
  
}
.dot2{
  background:#FDD800;
}
.dot3{
  background:#5AC05A;
}

.listOfPosts{
  
  width: 25rem;
  border: solid 3px rgb(108, 108, 108);
  margin: 1em;
}

.listOfPosts  p {

  margin: 1em;
}
.listOfPosts h2 {
 
  margin: 1em;
 
}


nav{
  text-align: center;

 border-bottom: 5px solid rgb(106, 106, 106);
}
 .navBtn{
  margin: 1em;

  font-size: 1.5rem;
}

.listOfPosts button{
  
  text-align: center;

  margin: 1em;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}


.editForm2{
  text-align: center;
  border: none;
  display: flex;
  flex-direction: column;
  width: 22em;
  border-radius: 2px;
padding: 1em;
}

.editForm{
  text-align: center;
  border: none;
  display: flex;
  flex-direction: column;
  
  border-radius: 2px;
padding: 1em;
}

.editBtn{
  text-align: center;
  margin:0;
  width: 30%;
  display: inline-block;
}


.editForm .editBtn{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
   color: rgb(40, 40, 40);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.loadMore{
  margin: 1em;
}

.arrowDiv{
  
  text-align: center;
}

.arrow{
  margin-top: 5em;
  width: 5em;
}

.go-top{
  margin: 1em;
}

.news{
  margin: 1em;
  width: 12em;
}

.pen{
  margin: 1em;
  width: 10em;
}